<div class="catalogProduct">
    <div class="imgContainer">
        <a href="/products/<%= product.id %>"><img src="/images/productos/<%= product.Images[0].file %>" alt="" class="img-prod"></a>
    </div>
    <div class="articleInfo">
        <i class="heart"></i>
        <h4 class="ProductName"><%= product.name %></h4>
        <p class="productBrand"><%= product.brand %></p>
        <p class="productPrice">$<%= product.price %></p>
    </div>
</div>