<a href="/products/<%= product.id %>">
<article>
<<<<<<< HEAD
         <div class="product-img" style= <%= "background-image: url('/images/producto/" + product.Images[0].file + ')" %>></div> 
        
=======
         <div class="product-img">
            <img src="/images/producto/<%= product.Images[0].file %>">
        </div>
>>>>>>> 00019fa3f492cc01e47d7e64aeee766917844cd9
        <div>
             <h4 class="descripcion">
                <%= product.name %>
            </h4>
            <div class="precios">
                <p class="precio">$ <%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                </p>
                <!-- <p class="precio-descontado">$ <%= Math.round(product.price - product.descuento).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                </p> -->
            </div>
 
        </div>
</article>
</a>