<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Wave Runners</title>
        <link rel="stylesheet" href="../styles/register.css">
        <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main class="mainbody">
            <section class="sectionbody">
                <h3 class="tituloEdit">Creacion del producto</h3>

                <form action="/products/create" method="POST" enctype="multipart/form-data">
                    <div class="divflex">
                        <div class="nameProduct">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" id="name" required>
                        </div>

                        <div>
                            <label for="description">Descripcion</label>
                            <input type="text" name="description" id="name" required>
                        </div>

                        <div>
                            <!-- <label for="category">Categoria</label>
                            <select name="category" id="category" required>
                                <option value="1">Surf</option>
                                <option value="2">Kitesurf</option>
                                <option value="3">Paddlesurf</option>
                                <option value="4">Wakeboard</option>
                                <option value="5">Snorkel</option>
                                <option value="6">Windsurf</option>
                            </select> -->
                            <label for="category">Categoría:</label>
                            <select name="category" id="category" required " >
                                <% for( let i = 0; i < categories.length; i++ ) { %>
                                    <option value=" <%=categories[i].id%>"><%=categories[i].name%>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    <div>
                        <label for="brand">Brand:</label>
                        <select name="brand" id="brand" required " >
                            <% for( let i = 0; i < brands.length; i++ ) { %>
                                <option value=" <%=brands[i].id%>"><%=brands[i].name%>
                                </option>
                                <% } %>
                        </select>
                    </div>
                        <div>
                            <label for="color">Color:</label>
                            <select name="color" id="color" required " >
                                <% for( let i = 0; i < colors.length; i++ ) { %>
                                    <option value=" <%=colors[i].id%>"><%=colors[i].name%>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div>
                            <label for="imagen">Imagen</label>
                            <input type="file" name="imagen" id="imagen">
                        </div>


                        <div>
                            <label for="price">Precio</label>
                            <input type="text" name="price" required>
                        </div>

                        <!-- <div>
                            <label for="descuento">descuento</label>
                            <input type="text" name="descuento">
                        </div> -->

                        <div class="divboton">
                            <button type="submit">Crear producto</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>