<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
            <title>Wave Runners</title>
            <link rel="stylesheet" href="../styles/producto.css">
            <link rel="stylesheet" href="../styles/main.css">
    </head>

    <body>
        <%- include('../partials/header') %>


        <main>
            <section class="product">
                <article class="product-images">
                    <!-- <div class="images-second">
                        <img src="../images/producto/<%= product.imagen %>">
                        <img src="../images/producto/<%= product.imagen %>">
                        <img src="../images/producto/<%= product.imagen %>">
                    </div> -->
                    <div class="images-first">
                        <img src="/images/producto/<%= product.Images[0].file %>">
                    </div>
                </article>
                <article class="product-detalle">
                    <h3 class="product-name"><%= product.name %></h3>
                    <!-- <h2 class="product-price">$<%= Math.round(product.precio - product.descuento).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h2> -->
                    <h2 class="product-price">$<%= Math.round(product.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h2>
                    <br>
                    <h4 class="product-form-title">DETALLE</h4>
                    <form action="#" method="POST" class="product-form">
                        <label>COLOR</label>
                        <select name="color">
                            <option value="color01"><%= product.color.name %></option>

                        </select>
                        <label>MEDIDA</label>
                        <select name="size">
                            <option value="medida01"><%= product.size.name %></option>
                        </select>
                        <label>CANTIDAD</label>
                        <select name="cantidad">
                            <option value="cantidad01">01</option>
                            <option value="cantidad02">02</option>
                            <option value="cantidad03">03</option>
                        </select>
                        <div>
                            <button type="submit">COMPRAR AHORA</button>
                            <button type="submit">AGREGAR AL CARRITO</button>
                        </div>
                    </form>
                </article>
            </section>
            <section>
                <article>
                    <h4 class="product-info-title">DESCRIPCION</h4>
                    <p class="product-info">
                        <%= product.description %>
                    </p>
                </article>
            </section>
            <section>
                <article class="edit-bottom">
                    <form action="/products/<%= product.id %>/edit" method="GET">
                        <button type="submit">EDITAR PRODUCTO</button>
                    </form>
                </article>
            </section>
            <section class="related-products">
                <h4 class="product-related-title">PRODUCTOS RELACIONADOS</h4>
             <div class="related-products-grid">
                <%- include('../partials/product', { product }) %>
                <%- include('../partials/product', { product }) %>
                <%- include('../partials/product', { product }) %>
            </div> 
            </section>
            <div class="product-icons">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </main>


        <%- include('../partials/footer') %>

    </body>

</html>