<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head') %>
    <title>Wave Runners</title>
    <link rel="stylesheet" href="../../styles/home.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/register.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main class="mainbody">
            <section class="sectionbody">
                <h3 class="tituloEdit">Edicion del producto</h3>

                <form action="/products/<%=  product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="divflex">
                        <div class="nameProduct">
                            <label for="name">Nombre:</label>
                            <input type="text" name="name" id="nombre" value="<%= product.name %>" placeholder="<%= product.name %>" autofocus
                            value="<%= locals.oldData ? oldData.name : null %>" >
                                <% if (locals.errors && errors.name) { %>
                                    <p class="inputError"><%= errors.name.msg  %> </p>  
                                <% } %>
                        </div>
                        <div>
                            <label for="category">Categoría:</label>
                            <select name="categories_id" id="categoria" >
                                <% categories.forEach(category => { %>
                                    <% if (category.id == product.category_id) { %>
                                        <option value="<%= product.category_id %>" selected> <%= product.category.name %> </option>
                                    <% }else{ %>
                                        <option value="<%= category.id %>"> <%= category.name %> </option>
                                   <% } %>
                                <% }) %>
                            </select>
                        </div>
                        <div>
                            <label for="brand">Marca:</label>
                            <select name="brands_id" id="marca" >
                                <% brands.forEach(brand => { %>
                                    <% if (brand.id == product.brand_id) { %>
                                        <option value="<%= product.brand_id %>" selected> <%= product.brand.name %> </option>
                                    <% }else{ %>
                                        <option value="<%= brand.id %>"> <%= brand.name %> </option>
                                   <% } %>
                                <% }) %>
                            </select>   
                        </div>
                        <div>
                            <label for="size">Tamaño:</label>
                            <select name="sizes_id" id="tamaño" >
                                <% sizes.forEach(size => { %>
                                    <% if (size.id == product.size_id) { %>
                                        <option value="<%= product.sizes_id %>" selected> <%= product.size.name %> </option>
                                    <% }else{ %>
                                        <option value="<%= size.id %>"> <%= size.name %> </option>
                                   <% } %>
                                <% }) %> 
                            </select> 
                        </div>
                        <div>
                            <label for="color">Color:</label>
                            <select name="colors_id" id="color">
                                <% colors.forEach(color => { %>
                                    <% if (color.id == product.color_id) { %>
                                        <option value="<%= product.color_id %>" selected> <%= product.color.name %> </option>
                                    <% }else{ %>
                                        <option value="<%= color.id %>"> <%= color.name %> </option>
                                   <% } %>
                                <% }) %> 
                            </select> 
                        </div>
                        <div>
                            <label for="description">Descripcion:</label>
                            <textarea name="description" id="descripcion" rows="5" value="<%= product.description %>" placeholder="<%= product.description %>" 
                                value="<%= locals.oldData ? oldData.description : null %>" ></textarea>
                                <% if (locals.errors && errors.description) { %>
                                    <p class="inputError"><%= errors.description.msg  %> </p>  
                                <% } %>
                        </div>
                        <div class="field">
                            <label for="imagen">Imagen</label>
                            <div class="control">
                                <input type="file" name="imagen" id="imagen">
                                <% if (locals.errors && errors.imagen) { %>
                                    <p class="inputError"><%= errors.imagen.msg  %> </p>
                                <% } %>
                            </div>
                        </div>
                        <div>
                            <label for="price">Precio:</label>
                            <input type="text" name="price" id="precio" value="<%= product.price %>" placeholder="<%= product.price %>"
                            value="<%= locals.oldData ? oldData.price : null %>" >
                                <% if (locals.errors && errors.price) { %>
                                    <p class="inputError"><%= errors.price.msg  %> </p>  
                                <% } %>
                        </div>
                        <div>
                            <label for="stock">Cantidad:</label>
                            <input type="text" name="stock" id="cantidad" value="<%= product.stock %>" placeholder="Cantidad"
                            value="<%= locals.oldData ? oldData.stock : null %>" >
                                <% if (locals.errors && errors.stock) { %>
                                    <p class="inputError"><%= errors.stock.msg  %> </p>  
                                <% } %>
                        </div>

                        <div class="divboton">
                            <button type="submit">Editar producto</button>
                        </div>
                    </div>
                </form>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <div class="divflex">
                        <div>
                            <button type="submit">Eliminar Producto</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>
